body {
  background: url("/images/bg-mobile.png") no-repeat;
  background-position: top;
  background-size: 100% 100%;
  background-color: var(--clr--very-dark-blue);
  color: var(--clr--pale-blue);
  font-family: var(--ff--primary);
  font-size: var(--fs--regular);
}
