.card {
  display: grid;
  grid-template-columns: minmax(0, 700px);
  gap: 1rem;
  min-width: 0;
  margin: 1.5rem;

  &__header,
  &__info {
    display: grid;
    background-color: var(--clr--dark-blue);
    padding: 3rem;
    text-align: left;
    border-radius: 0.8rem;
  }

  &__header {
    border-top-right-radius: 7rem;
    gap: 2rem;
    .logo {
      img {
        width: 150px;
      }
    }
    .flex-group {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      li {
        display: grid;
        place-items: center;
        width: 50px;
        height: 40px;
        background-color: var(--clr--very-dark-blue);
        padding: 0;
        margin: 0;
        border-radius: 0.5rem;
      }
    }
  }

  &__info {
    display: grid;
    gap: 0.5rem;
    p {
      text-align: center;
      span {
        font-weight: var(--fw--very-bold);
      }
    }
    &_capacity {
      display: flex;
      justify-content: space-between;
      font-weight: var(--fw--very-bold);
    }

    &_range {
      &_indicator {
        display: flex;
        align-items: center;
        background-color: var(--clr--very-dark-blue);
        height: 20px;
        border-radius: 20px;
        &_point {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 75%;
          background: var(--clr--gradient);
          border-radius: 20px;
          height: 16px;
          margin: 2px;
          &_ball {
            background-color: var(--clr--pale-blue);
            height: 16px;
            width: 16px;
            border-radius: 16px;
          }
        }
      }
    }

    &_freespace {
      margin-bottom: -70px;
      margin-inline: auto;
      padding: 0.7rem;
      border-radius: 0.8rem;
      background-color: var(--clr--pale-blue);
      color: var(--clr--very-dark-blue);
      h2 {
        font-size: 36px;

        span {
          font-weight: var(--fw--very-bold);
          color: var(--clr--grayish-blue);
          vertical-align: middle;
          font-size: 13px;
          margin-left: 1rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .card {
    align-items: flex-end;
    max-width: 900px;
    grid-auto-flow: column;
    grid-template-columns: 350px 550px;

    &__header {
    }

    &__info {
      p {
        text-align: left;
      }
      position: relative;
      height: 75%;

      &_freespace {
        padding: 0.7rem;
        margin-top: -50px;
        position: absolute;
        right: 30px;
        h2 {
          font-size: 30px;
          span {
            margin-left: 0.8rem;
          }
        }
        .triangle {
          position: absolute;
          display: block;
          bottom: -15px;
          right: 0;
          border-left: 26px solid transparent;
          border-top: 26px solid var(--clr--pale-blue);
        }
      }
    }
  }
}
