.card {
  display: grid;
  grid-template-columns: minmax(0, 500px);
  gap: 1rem;
  min-width: 0;
  max-width: 500px;
  margin: 1.5rem;

  &__header,
  &__info {
    display: grid;

    background-color: var(--clr--dark-blue);
    padding: 2rem;
    text-align: left;
    border-radius: 0.8rem;
  }

  &__header {
    gap: 2rem;
    .logo {
      img {
        width: 150px;
      }
    }
    .flex-group {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      li {
        display: grid;
        place-items: center;
        width: 50px;
        height: 40px;
        background-color: var(--clr--very-dark-blue);
        padding: 0;
        margin: 0;
        border-radius: 0.5rem;
      }
    }
  }

  &__info {
    display: grid;
    gap: 0.5rem;
    p {
      text-align: center;
      span {
        font-weight: var(--fw--very-bold);
      }
    }
    &_capacity {
      display: flex;
      justify-content: space-between;
      font-weight: var(--fw--very-bold);
    }
    &_freespace {
      margin-bottom: -70px;
      margin-inline: auto;
      padding: 0.7rem;
      border-radius: 0.8rem;
      background-color: var(--clr--pale-blue);
      color: var(--clr--very-dark-blue);
      h2 {
        font-size: 36px;

        span {
          font-weight: var(--fw--very-bold);
          color: var(--clr--grayish-blue);
          vertical-align: middle;
          font-size: 13px;
          margin-left: 1rem;
        }
      }
    }
  }
}
